<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro – Kaizen Talent</title>

</head>
<body>
    <div class="form-body on-top-mobile">
        <div class="website-logo">
            <a href="index.html">
                <div class="logo">
                    <img class="logo-size" src="../../../assets/images/logo.png" alt="Logo Kaizen">
                </div>
            </a>
        </div>
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder simple-info">
                    <div><img src="../../../assets/images/dibujocvs.svg" alt=""></div>
                    <div><h3>Regístrate en Kaizen Talent</h3></div>
                    <div><p>Estás a pocos pasos de poder <br>postular a cientos de empleos.</p></div>
                </div>
            </div>
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <form>
                            <div class="row">
                                <div class="col-12 col-sm-6">
                                    <input type="text" class="form-control" placeholder="Nombre(s)">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="text" class="form-control" placeholder="Apellidos">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-6">
                                    <input type="form-control" class="form-control" list="ciudad" placeholder="Ciudad">
                                    <datalist id="ciudad">
                                        <option value="Lima">
                                        <option value="Arequipa">
                                        <option value="Trujillo">
                                        <option value="Tumbes">
                                        <option value="Piura">                                
                                    </datalist>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="form-control" class="form-control form-control-lg" list="tipodocumento" name="tipodocumento" placeholder="Tipo Documento">
                                    <datalist id="tipodocumento">
                                        <option value="DNI">
                                        <option value="Carné de extranjería">
                                        <option value="Pasaporte">                                 
                                    </datalist>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-6">
                                    <input type="text" class="form-control" placeholder="Número de Documento">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="form-control" class="form-control form-control-lg" list="sexo" name="sexo" placeholder="Sexo">
                                    <datalist id="sexo">
                                        <option value="Masculino">
                                        <option value="Femenino">
                                        <option value="Otros">                                
                                    </datalist>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-6">
                                    <input type="email" class="form-control" placeholder="Correo electrónico">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <input type="password" class="form-control" placeholder="Contraseña">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-6">
                                    <input type="tel" class="form-control" placeholder="Número telefónico">
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="validatedCustomFile">
                                        <label class="custom-file-label" for="validatedCustomFile">CV</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">                                
                            </div>
                            <div class="row top-padding">
                                <div class="col-12 col-sm-7">
                                    <input type="checkbox" id="chk1" required><label for="chk1">Al hacer click en registrarme acepto los <a href="#">terminos y condiciones</a> de Kaizen Talent</label>
                                </div>
                                <div class="col-12 col-sm-5">
                                    <div class="form-button text-right">
                                        <button id="submit" type="submit" class="ibtn less-padding">Regístrate</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="../../../assets/js/jquery.min.js"></script>
<script src="../../../assets/js/popper.min.js"></script>
<script src="../../../assets/js/bootstrap.min.js"></script>
<script src="../../../assets/js/main.js"></script>
</body>
</html>